.Valid
{
  font-size: 12px;
}

.Navigation
{
    font-size: 14px;
    margin: 20px 0 20px 55px;
}

.mes
{
  font-size: 26px;
  padding: 40px 0 300px 50px;
}

.CategoryBook
{
    width: 300px;
    height: 470px;
    background-color: rgb(219, 251, 240);
    float: left;
    margin: 20px 10px 30px 50px;
}

.CategoryBook:hover
{
    box-shadow: inset 0 0 0 10px #7fffd4;
    box-shadow: 4px 5px 15px -5px #616161;
}

.Image
{
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.TextBook
{
    margin: 6px;
    text-align: center;
    font-size: 16px;
}

.TextBookName
{
    margin: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.Icons3
{
    width: 30px;
    margin: 15px 10px 0 10px;
}

.Navigation
{
    margin-left: 50px;
    margin-bottom: 20px;
}

.Login
{
  margin: 40px 0 100px 30px;
  font-family: Montserrat Alternates, sans-serif;
  text-decoration: none;
}

.Login button,
.Login .log
{
  font-family: Montserrat Alternates, sans-serif;
  text-decoration: none;
  color:#084933;
  font-weight: bolder;
  float: left;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.BasketImg
{
  width: 65px;
  float: left;
  margin: 15px;
}

.BasketBook
{
  font-size: 12px;
  margin: 20px 0 0 10px;
  font-weight: bolder;
}

.TitleOrder
{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #0d7150;
}

.DeliteIcon
{
  color: #0F9467;
  float: right;
  position: relative;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

.DeliteIcon:hover
{
  transform: scale(1.3);
}

.TextFormOrder
{
  font-size: 20px;
  color: #084933;
  font-weight: bolder;
  text-align: center;
  padding-top: 25px;
}

.PlaceAnOrderWr
{
  width: 700px;
  height: 450px;
  margin: 40px 10% 30px 11%;
}

.btn1 {
  float: left;
}

.btn1-order
{
  margin-left: 10px;
  margin-bottom: 10px;
}

.PlaceAnOrder {
  margin: 0 0 0 0;
  width: 90%;
  padding: 30px 30px 6px 30px;
  border: 0px solid rgba(0,0,0,.2);
  border-radius: 5px; 
  background-clip: padding-box;
  background: rgb(219, 251, 240); 
  box-shadow: 4px 5px 15px -5px #616161;
  overflow: hidden; 
}
/* Поля ввода */
.message,
.email,
.name{
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 4px;
  background-clip: padding-box; 
  display:block;
  font-family: Montserrat Alternates, sans-serif;
  font-size:18px;
  font-weight: 300;    
  color:#1f1f1f;
  padding-left:20px;
  padding-right:20px;
  margin-bottom:20px;
}
.mesage[type=submit],
.email[type=submit],
.name[type=submit] {
  cursor:pointer;
}
.name {
  background: rgba(127, 255, 212, 0.8); 
  padding-left:25px;
}
.email {
  background: rgba(127, 255, 212, 0.8);
  padding-left:25px;
}
.message {
  background: rgba(127, 255, 212, 0.8);
  padding-left:25px;
}
:-ms-input-placeholder {  
  color: #fff; 
}
.name:focus,
.email:focus,
.message:focus { 
  background-color:rgba(219, 251, 240, 0.7);
  box-shadow: 0 0 5px 1px rgba(127, 255, 212, 0.6);
  overflow: hidden; 
}
/* Стили для кнопки отправить */
.btn1, .btn2 {
  margin: 5px 8px 10px 3px;
  min-width: 138px;
  height: 44px;
  border-radius: 4px;
  border: 0px solid rgb(15, 91, 65);
  background:#0F9467;
  background: -ms-linear-gradient(top, rgb(219, 251, 240), #1dd696);
  background: -o-linear-gradient(top, rgb(219, 251, 240), #1dd696);
  background-image: -ms-linear-gradient(top, rgb(219, 251, 240) 0%, #1dd696 100%);
  padding: 10.5px 21px;
  border-radius: 6px;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
}
.btn1:hover, .btn2:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #0F9467;
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
}
.btn1:active, .btn2:active {
  margin-top:1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #333333;
  background: #7fffd4;
  color: #292929;
  box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  outline: none;
}

.btn3 {
  margin: 5px 8px 25px 25px;
}

.avtor
{
  padding-left: 25%;
}

.blok
{
  background-color: #8c8c8c;
  border: none;
}

.backBookText
{
  width: 150px;
  float: left;
}

.mesBasket
{
  padding: 20px 15px 20px 25px;
}

@media all and (max-width: 1300px)
{
    .CategoryBook
  {
    width: 250px;
    height: 430px;
  }
  .TextBook
  {
    font-size: 14px;
  }

  .TextBookName
  {
    margin: 6px 10px 6px 10px;
    font-size: 14px;
  }
  .Navigation
  {
  margin-left: 50px;
  margin-bottom: 10px;
  }

}

@media all and (max-width: 1260px)
{
    .CategoryBook
  {
    width: 230px;
    height: 410px;
  }
  .TextBook
  {
    font-size: 14px;
  }

  .TextBookName
  {
    font-size: 14px;
  }

}

@media all and (max-width: 1220px)
{
  .CategoryBook
  {
    width: 25%;
    height: 370px;
    margin: 20px 10px 30px 40px;
  }
  .Image
  {
    width: 50%;
    padding-top: 15px;
  }
  .TextBook
  {
    margin: 5px;
  } 
  .Icons3
  {
    width: 25px;
  }
}

@media all and (max-width: 1145px)
{
  .TextBook
  {
    margin: 4px;
  }  
  .Icons3
  {
    width: 25px;
    margin: 12px 10px 0 10px;
  }
  .TextBookName
  {
    margin: 4px 10px 5px 10px;
  }
  .CategoryBook
  {
    height: 360px;
  }
  .Navigation
  {
  margin-left: 45px;
  margin-bottom: 20px;
  }
}

@media all and (max-width: 1145px)
{
  .CategoryBook
  {
    width: 25%;
    height: 400px;
    margin: 20px 10px 30px 40px;
  }
}

@media all and (max-width: 1000px)
{
  .CategoryBook
  {
    height: 380px;
  }
}

@media all and (max-width: 850px)
{
  .CategoryBook
  {
    height: 350px;
  }
  .PlaceAnOrder {
    width: 80%;
    padding: 30px 30px 6px 30px;
  }
}

@media all and (max-width: 730px)
{
  .PlaceAnOrder {
    width: 65%;
    padding: 30px 30px 6px 30px;
  }
  .CategoryBook
  {
    width: 25%;
    height: 300px;
    margin: 20px 20px 30px 25px;
  }
  .Image
  {
    width: 45%;
    padding-top: 15px;
  }
  .TextBook
  {
    margin: 3px;
    font-size: 11px;
  }
  .TextBookName
  {
    margin: 4px 10px 5px 10px;
    font-size: 12px;
  }
  .Icons3
  {
    width: 20px;
    margin: 10px 10px 0 10px;
  }
  .Navigation
  {
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  }
}

@media all and (max-width: 640px)
{
  .CategoryBook
  {
    height: 280px;
  }
}

@media all and (max-width: 620px)
{
  .CategoryBook
  {
    width: 40%;
    height: 320px;
    margin: 20px 20px 30px 20px;
  }
  .PlaceAnOrder {
    width: 55%;
    padding: 30px 30px 6px 30%px;
  }
}

@media all and (max-width: 530px)
{
  .CategoryBook
  {
    width: 40%;
    height: 300px;
    margin: 20px 20px 30px 20px;
  }
  .Navigation
  {
  margin-left: 25px;
  margin-bottom: 10px;
  }
  .PlaceAnOrder {
    width: 55%;
    padding: 30px 30px 6px 30px;
  }
  
}

@media all and (max-width: 520px)
{
  .PlaceAnOrder 
  {
    width: 45%;
    padding: 30px 30px 6px 30px;
  }
  .PlaceAnOrderWr
  {
    margin: 0;
  }
  .avtor
  {
    padding-left: 5px;
  }
}

@media all and (max-width: 450px)
{
  .CategoryBook
  {
    height: 280px;
    margin: 20px 10px 30px 10px;
  }
}

@media all and (max-width: 520px)
{
  .PlaceAnOrder 
  {
    width: 35%;
    padding: 20px 30px 6px 20px;
  }
  .avtor
  {
    padding-left: 5px;
  }
}

@media all and (max-width: 340px)
{
  .CategoryBook
  {
    width: 70%;
    height: 320px;
    margin: 20px 10px 30px 30px;
  }
}

@media all and (max-width: 325px)
{
  .PlaceAnOrder 
  {
    width: 25%;
    padding: 15px 20px 6px 15px;
  }
  .avtor h1
  {
    font-size: 16px;
  }
}

@media all and (max-width: 310px)
{
  .Navigation
  {
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 11px;
  }
  .CategoryBook
  {
    height: 300px;
    margin: 20px 10px 30px 15px;
  }
}

@media all and (max-width: 300px)
{
  .Navigation
  {
    margin-left: 5px;
    font-size: 10px;
  }
  .CategoryBook
  {
    height: 310px;
    margin: 20px 10px 30px 5px;
  }
}

@media all and (max-width: 250px)
{
  .PlaceAnOrder 
  {
    width: 20%;
    padding: 5px 15px 6px 5px;
  }
  .Navigation
  {
    margin-left: 3px;
    font-size: 9px;
  }
  .CategoryBook
  {
    width: 65%;
    height: 310px;
  }
  .btn1
  {
    width: 10px;
    font-size: 10px;
    height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    margin-bottom: 5px;
  }
  .email,
  .name
  {
    width: 100%;
  }
}

@media all and (max-width: 225px)
{
  .CategoryBook
  {
    width: 55%;
    height: 310px;
    margin: 10px 10px 30px 3px;
  }
}

@media all and (max-width: 205px)
{
  .Navigation
  {
    margin-left: 3px;
    font-size: 9px;
  }
  .CategoryBook
  {
    width: 55%;
    height: 310px;
    margin: 10px 10px 30px 3px;
  }
}

@media all and (max-width: 200px)
{
  .Navigation
  {
    font-size: 8px;
  }
  .CategoryBook
  {
    height: 270px;
  }
}

@media all and (max-width: 185px)
{
  .CategoryBook
  {
    width: 45%;
    height: 270px;
  }
  .Navigation span 
  {
    display: none;
  }
}