.CategoryConteyner 
{
  float: left;
  width: 26%;
  height: 180px;
  background-color:rgb(127, 255, 212);
  margin: 10px 0  30px 50px;
  text-align: center;
  font-family: Montserrat Alternates, sans-serif;
}

.ConteynerCategory
{
  padding: 10px 0 60px 0;
  width: 100%;
  height: auto;
}

.Category
{
  margin: 0 5px 0 5px;
  padding-top: 75px;
  font-size: 16px;
}




/* Общие стили */
*, *:after, *:before { 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
  float: left;
  width: 500px;
  height: 300px;
  margin: 20px 2% 50px 3%;
  overflow: hidden;
  list-style: none;
  text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: aquamarine;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.9;
}
.hover-text-one figure figcaption {
	padding: 1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;/*1em;*/
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 70%;
}

/* Эффект при наведении */
figure.effect-text-one img {
	width: calc(100% + 20px);
	opacity: 0.7;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
}
figure.effect-text-one figcaption {
	top: auto;
	bottom: 0;
	height: 50%;
	text-align: left;
}
figure.effect-text-one h3,
figure.effect-text-one p {
	transform: translate3d(0,5px,0);
}
figure.effect-text-one h3 {
	color: rgb(255, 255, 255) !important;
	transition: transform 0.35s;
  font-weight: bold;
}
figure.effect-text-one p {
	background: rgba(127, 255, 212, 0.7);
	color: #000000;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s, transform 0.35s; 
  font-weight: bolder; 
}
figure.effect-text-one:hover img,
figure.effect-text-one:hover p {
	opacity: 1;
}
figure.effect-text-one:hover img,
figure.effect-text-one:hover h3,
figure.effect-text-one:hover p {
	transform: translate3d(0,0,0);
}
figure.effect-text-one:hover p {
	transition-delay: 0.05s;
	transition-duration: 0.35s;
}

@media all and (max-width: 1300px)
{
  .hover-text-one {
	width: 450px;
	margin: 10px 0 20px 0;
	height: 30%;
  }
}

@media all and (max-width: 1260px)
{
  .hover-text-one {
	width: 450px;
	margin: 10px 0 20px 0;
  }
}
@media all and (max-width: 1220px)
{
  .hover-text-one {
	width: 420px;
	margin: 10px 0 10px 1%;
  }
}

@media all and (max-width: 1175px)
{
  .hover-text-one {
	width: 48%;
	margin: 10px 0 0 0;
  }
}

@media all and (max-width: 1120px)
{
  .hover-text-one {
	width: 48%;
	margin: 10px 0 10px 0;
	height: 30%;
  }
}

@media all and (max-width: 965px)
{
  .hover-text-one {
	width: 48%;
	margin: 5px 0 5px 0;
  }
}

@media all and (max-width: 750px)
{
  .hover-text-one figure figcaption {
	font-size: 12px;
  }
}
@media all and (max-width: 650px)
{
  .hover-text-one figure figcaption {
	font-size: 14px;
  }
  .hover-text-one {
	width: 90%;
	margin: 5px 0 5px 0;
  }
}

@media all and (max-width: 400px)
{
  .hover-text-one figure figcaption {
	font-size: 12px;
  }
  .hover-text-one {
	margin: 0 0 5px 0;
  }
}

@media all and (max-width: 345px)
{
  .hover-text-one p {
	display: none;
  }
}

@media all and (max-width: 270px)
{
  .hover-text-one {
	margin: 0 0 0 0;
	width: 75%;
  }
  .hover-text-one figure figcaption {
	font-size: 9px;
  }
}

@media all and (max-width: 225px)
{
  .hover-text-one {
	margin: 0 0 0 0;
	width: 75%;
  }
  .hover-text-one figure figcaption {
	font-size: 8px;
  }
  .ConteynerCategory
{
  padding: 10px 0 0 0;
}
}

@media all and (max-width: 200px)
{
  .hover-text-one {
	margin: 0 0 0 0;
	width: 65%;
  }
  .hover-text-one figure figcaption {
	font-size: 6px;
  }
  figure.effect-text-one img {
	width: calc(90% + 10px);
	opacity: 0.7;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
}
}